@*****************************************************************************
 * Entry page for publisher and content browsing. Include a link to forms    *
 * for new publisher account creation                                        *
 * Copyright 2015 MIT Libraries                                              *
 * @author richardrodgers                                                    *
 *****************************************************************************@
 @(value: String, pubs: List[Publisher], description: String, page: Int, total: Long)@*(implicit hubContext: HubContext)*@

@layout.main("Publisher Browse -  TopicHub") {
  <div class="page-header">
    <h2>Browse Publishers by Category</h2>
    <h3>@description</h3>
    @tags.summary(page, 10, total, pubs.length)
  </div>
  <ul>
    @pubs.map { pub =>
      <li><a href="@routes.Application.publisher(pub.id)">@pub.name</a></li>
    }
  </ul>
  @tags.pagination(page, 10, total, routes.Application.publisherBrowse("category", value).toString, pubs.length)
}
