body {
  padding-top: 60px;
  padding-bottom: 70px;
}

a.list-group-item {
  text-decoration: underline;
}

a.list-group-item:hover {
  text-decoration: underline !important;
}

.subscribed {
  color: gray;
  text-decoration: underline;
}

.not_subscribed {
  font-weight: bold;
  text-decoration: underline;
}

.validtarget {
  background-color: lightblue;
  border: solid thin red;
}

.hold_topic, .hold_topic a {
  color: gray;
}

.pick_basis, .pick_basis a {
  color: gray;
}
