@*****************************************************************************
 * Entry page for subscriber browsing. Include a link to forms               *
 * for new publisher account creation                                        *
 * Copyright 2015 MIT Libraries                                              *
 *****************************************************************************@
 @(value: String, subs: List[Subscriber], description: String, page: Int, total: Long)@*(implicit hubContext: HubContext)*@
@pagination = {
   <span>
     @if(page > 0) {
       <a href="@routes.Application.subscriberBrowse("category", value, page - 1)">&laquo; Previous</a>
     } else {
        <span class="disabled">&laquo; Previous</span>
     }
     Showing @(page * 10 + 1) - @(page * 10 + subs.length) of @total
     @if(page < total/10) {
       <a href="@routes.Application.subscriberBrowse("category", value, page + 1)">Next &raquo;</a>
     } else {
        <span class="disabled">Next &raquo;</span>
     }
   </span>
}

@layout.main("Subscriber Browse -  TopicHub") {
     <h2>Browse Subscribers by Category</h2>
     <h3>@description</h3>
     @pagination
     <ul>
       @subs.map { sub =>
         <li><a href="@routes.Application.subscriber(sub.id)">@sub.name</a></li>
       }
     </ul>
     @pagination
}
