@(message: String)(implicit request: play.api.mvc.RequestHeader)
@layout.main("TopicHub") {
  <div class="jumbotron">
    <h2>Welcome to SCOAP<sup>3</sup> TopicHub!</h2>
    <p>Getting content for your IR has never been easier! TopicHub connects you to content providers through a suite of simple, easy-to-use tools that manage the discovery and acquisition of content for your IR. Use TopicHub to establish ongoing content acquisition feeds that are customized to your institution’s operational procedures -- anything from email notifications of newly published content to fully-automated delivery of that content directly to your IR. Ready to get started?</p>
  </div>
}
